* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background: #3b5999;
    color: #ffffff;
    display: flex;
    padding: 1rem;
}
.logo{
    margin-left: auto;
    width: 80px;
    height: 80px;
    background-color: none;
}
.title {
    margin-left: auto;
    font-size: 50px;

}
.logout{
    width: 120px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-style: oblique;
    margin-top: 10px;
    margin: auto;
}
.select-game{
    width: auto;
    margin: 50px;
    display: flex;
}
.typing-game{
    font-size: 50px;
    color: #3b5999;
    display: flex;
}
.food-worldcup{
    font-size: 50px;
    color: #3b5999;
    margin-left: 170px;
    display: flex;
}
.gameimg {
    width: 90%;
    display:flex;
    flex-wrap:wrap;
    margin-left: 400px;
    
}
.gameimg img {
    width:calc(33.333% - 10px);
    margin:0 50px 50px 0;
    display: flex;
    
}
.gameimg img:nth-of-type(3n),
.gameimg img:last-child {
    margin-right:0;
}
